	*{
		box-sizing: border-box;
		/*color:  #2d3c49;*/
		color: black;
	}

	.full_body{
		 background: black; /* For browsers that do not support gradients */
  		 background: -webkit-radial-gradient(circle, grey, white, black); /* Safari */
  		 background: -o-radial-gradient(circle, grey, white, black); /* Opera 11.6 to 12.0 */
  		 background: -moz-radial-gradient(circle, grey, white, black); /* Firefox 3.6 to 15 */
  		 background: radial-gradient(circle, grey, white, black); /* Standard syntax */
	}	
	.my_name_and_skill{
		text-align: end;
		font-family: 'Pragati Narrow', sans-serif;
		text-transform: uppercase;
	}

	.work_header{
		color: #7d97ad;
	}

	.title_and_link{
		text-align: center;
	}

	.project-title{
		text-transform: uppercase;
		color: #2d3c49;
		font-family: 'Pragati Narrow', sans-serif;
	}

 	.line{
		border-color: #7d97ad;
   	    height: 3px;
    	color: #7d97ad; 
    	background-color: #7d97ad; 
	}